.label {
  display: inline-block;
  padding: 8px 6px 7px 2px;
  color: #7f848c;
  font-size: 0.825rem;
  cursor: pointer;
  transition: color 0.2s ease;
  vertical-align: middle;

  &.checked {
    color: #ffffff;
  }
}

.option {
  display: block;

  &.inline {
    display: inline-block;
  }

  &:hover,
  &:focus {
    outline: none;

    .label {
      color: #d5dbdf;
    }

    path[id='outline'] {
      stroke: #1f3e8c;
      stroke-width: 1;
    }
  }
}
