@import 'src/assets/styles/colors';

.button {
  color: #ffffff;
  text-align: center;
  background: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: border 0.3s, background-color 0.3s, color 0.3s, opacity 0.2s;
  opacity: 1;
  cursor: pointer;

  &.small {
    padding: 6px 22px;
    font-size: 0.75rem;
  }

  &.medium {
    padding: 8px 22px;
    font-size: 0.825rem;
  }

  &.large {
    padding: 10px 30px;
    font-size: 1rem;
  }

  &.fullWidth {
    width: 100%;
  }

  &.outlined {
    color: $accent-color;
    background: none;

    &:focus:not(:disabled),
    &:hover:not(:disabled) {
      color: #ffffff;
    }
  }

  &:focus:not(:disabled),
  &:hover:not(:disabled) {
    background: $accent-color-dark;
    border: 1px solid $accent-color-dark;
  }

  &[disabled] {
    opacity: 40%;
    cursor: not-allowed;
  }
}
