.icon {
  display: inline-flex;
  align-items: center;
  width: 20px;
  margin-top: 1px;
  vertical-align: middle;

  svg {
    cursor: pointer;

    circle,
    ellipse {
      transition: stroke 0.2s;
    }

    &:hover ellipse[id=frame] {
      stroke: #1F3E8C;
    }
  }
}

.selected {
  circle[id=dot] {
    opacity: 1;
  }

  ellipse[id=frame] {
    stroke: #1d60ff;
  }

  &:hover ellipse[id=frame] {
    stroke: #1F3E8C;
  }
}
