.text,
.title {
  margin: 0;
  padding: 0 7px;
  height: 22px;
  color: #ffffff;
  font-size: 1rem;
}

.title {
  font-size: 0.9rem;
  font-weight: 600;
}

.errorMessage {
  position: relative;
  width: 100%;
  min-height: 26px;
  margin: 2px 0 0;
  padding: 2px 7px 0;
  line-height: 1.2;
  color: #ff3e3e;
  font-size: 0.75rem;
  text-align: left;
  word-break: break-word;
  overflow: hidden;
  box-sizing: border-box;
}

.requiredIndicator {
  color: #ff3e3e;
}

.label {
  display: inline-block;
  text-align: left;

  &.fullWidth {
    display: block;
    width: 100%;
  }

  &.large {
    .text,
    .title {
      font-size: 1rem;
    }
  }
}
