@import 'src/assets/styles/colors';

.selectWrapper {
  min-width: 100%;
}

.caret {
  width: 10px;
  height: 10px;
  fill: $color-gray;
  transform: rotate(0deg);
  transition: fill 0.2s, transform 0.2s;

  &.open {
    transform: rotate(180deg);
  }

  &:hover {
    fill: $accent-color;
  }
}

.clearIcon {
  width: 20px;
  height: 20px;
  fill: $color-gray;
  transition: fill 0.2s;

  &:hover {
    fill: $accent-color;
  }
}
