@import 'src/assets/styles/colors';

.label {
  display: inline;
  padding: 8px 6px 7px 2px;
  color: $text-color;
  font-size: 0.8rem;
  transition: color 0.2s ease;
  vertical-align: middle;

  &.checked,
  &.selected {
    color: darken($text-color, 10%);
  }
}

.option {
  display: block;
  cursor: pointer;
  background: none;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &.inline {
    display: inline-block;
  }

  &:hover,
  &:focus {
    outline: none;

    .label {
      color: $text-color;
    }

    ellipse[id='frame'] {
      stroke: $accent-color-dark;
    }

    path[id='outline'] {
      stroke: $accent-color-dark;
      stroke-width: 1;
    }
  }
}
