.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.flex-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-accent {
  color: $accent-color;
}

.color-text {
  color: $text-color;
}

.link {
  color: $accent-color;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $accent-color-dark;
    text-decoration: underline;
  }
}
