@import 'src/assets/styles/colors';

.pagerWrapper {
  height: 25px;
  margin: 5px 0;
  padding: 0 10px;
  border-radius: 15px;
}

.pagerContent {
  text-align: center;
}

.pagerButton {
  min-width: 25px;
  height: 25px;
  margin: 0 5px;
  border-radius: 3px;
  color: $text-color;
  background-color: $background-color;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(102, 102, 102, 0.4);
  transition: color 0.2s, background-color 0.2s;

  &:disabled {
    background-color: lighten($background-color, 0.3);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    color: $background-color;
    background-color: $accent-color-dark;
  }

  &[aria-current] {
    color: $background-color;
    background-color: $accent-color;
  }
}

.arrowButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: none;

  &:disabled {
    background-color: transparent;

    .arrowIcon{
      fill: $color-gray;
    }
  }

  &:hover:not(:disabled) .arrowIcon {
    fill: $background-color;
  }
}

.arrowIcon {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  fill: $text-color;
  transition: fill 0.2s;
}

.arrowReverse {
  margin-right: auto;
  margin-left: 5px;
  transform: rotate(180deg);
}

.separator {
  display: inline-block;
  width: 25px;
  margin: 0 2px;
  color: $text-color;
  text-align: center;
}
